<odoo>
    <data>
        <menuitem id="main_odoo_basico" name="Menú Nivel 0. odoo basico" sequence="9"/>
        <menuitem id="menu_odoo_informacion" name="Menú Nivel 1. Información" parent="main_odoo_basico" action="informacion_list_action" sequence="8"/>
        <menuitem id="menu_odoo_suceso" name="Menú Nivel 1. Suceso" parent="main_odoo_basico" action="suceso_list_action" sequence="9"/>
        <menuitem id="menu_odoo_pedido" name="Menú Nivel 1. Pedido" parent="main_odoo_basico" action="pedido_list_action" sequence="9"/>
    </data>
</odoo>